.footnotes {
    font-size: 0.8em;
}

.body-wrapper {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;

    box-shadow: 0 0 2em 0 var(--theme);
    background-color: var(--theme);
    filter: brightness(var(--body-brightness));
}

:root {
    --body-brightness: 1.05;
}

.dark {
    --body-brightness: 1.2;
}
