article {
    // Add a black shadow around the article
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) !important;
}

.article-details {
    // Display the article details in a flex container
    & h1, & h2 {
        display: flex;
        flex-direction: row;

        & svg {
            margin-left: auto;
        }
    }

    & a {
        box-shadow: 0 -2px rgba(var(--link-background-color),var(--link-background-opacity))inset;
        transition: all .3s ease;

        &:hover {
            box-shadow: 0 calc(-1rem * var(--article-line-height))rgba(var(--link-background-color),var(--link-background-opacity-hover))inset;
        }
    }
    
    &.page-details {
        background-color: var(--pre-background-color);
        border-inline-start: var(--heading-border-size)solid var(--accent-color);
        padding: calc(var(--card-padding) * 0.25);
        padding-bottom: var(--card-padding) !important;
    }
}

header:has(.article-details.page-details) {
    &:after {
        // Display a horizontal rule after the article details
        content: "";
        display: block;
        border-bottom: var(--heading-border-size) solid var(--pre-background-color);
        margin: var(--card-padding);
    }
}

.article-draft {
    &:before, &:after {
        content: "Draft";
        background-color: var(--accent-color);
        color: var(--pre-background-color);
        padding: 0.25rem;
        border-radius: 0.25rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

section {
    & > h2, & > h3, & > h4, & > h5 {
        background-color: var(--pre-background-color);
        margin-left: calc(var(--card-padding) * -1);
        margin-right: calc(var(--card-padding) * -1);

        & code {
            background-color: var(--card-background) !important;
        }
    }

    & > h2 {
        padding: calc(var(--card-padding) * 0.25);
    }

    & > h3 {
        padding: calc(var(--card-padding) * 0.125);
    }

    & > h4 {
        padding: calc(var(--card-padding) * 0.0625);
    }

    & > h5 {
        padding: calc(var(--card-padding) * 0.03125);
    }
}

header h1.article-title {
    font-size: 3rem;
}

pre {
    min-width: 2rem;
}

.article-list--compact {
    & article:hover {
        background-color: var(--card-separator-color);
    }
    & article ~ article {
        margin-top: 1rem;
        border-top: 1.5px solid var(--card-separator-color);
        border-bottom: 1.5px solid var(--card-separator-color);
    }
}

.article-read {
    margin-left: auto;
}

#cookie-notice {
    font-size: larger;
    padding: 0.5rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background: var(--card-background);
    color: var(--accent-color);
    border-top: 1px solid var(--accent-color);

    & a {
        font-weight: 600;
        display: inline-flex;
        cursor: pointer;
        margin-left: 0.5rem;
        border: 1px solid var(--accent-color);
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;

        &:hover {
            background: var(--accent-color);
            color: var(--body-background-color);
        }
    }

    @media (max-width: 1150px) {
        left: 0px;
        & span {
            display: block;
            padding-top: 3px;
            margin-bottom: 1rem;
        }
        & a {
            position: relative;
            bottom: 4px;
        }
    }
}
